@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@keyframes moveLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #626F47;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teto
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    background-color: #A4B465;
    width: 100vw;
    font-family: 'Playwrite IT Moderna',sans-serif ;
    font-size: 36px;
    border-radius: 15px;
}
#container
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.item
{
    margin-top: 90px;
    margin-left: 100px;
    padding: 1px 100px 1px 15px ;
    display: flex;
    background-color: #FFCF50;
    width: 20vw;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.item:hover
{
    box-shadow: 5px 5px 5px 0px white ;
    transform: translateX(-90px);
}
.info
{
    position: fixed;
    top: 400%;
    left: 300%; 
    margin-left: 15px;
    width: 350px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in;
    transform: translate(-10%, -40%);
}

.item:hover .info
{
    display: block;
    opacity: 1;
}

.info img
{
    width: 100%;
    border-radius: 5px;
}
.caixaParagrafo
{
    display: flex;
    width: 90px;
    justify-content: right;
    
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 280px;
    background-color: #FEFAE0;
    border-radius: 15px;
}


